/.idea
Homestead.json
Homestead.yaml
.env
.gitattributes
_ide_helper.php
artisan
gulpfile.js
package.json
phpspec.yml
phpunit.xml
server.php
bootstrap
public
resources
storage
vendor
!/resources/views/projects/
!/resources/views/tasks/
!/resources/views/app.blade.php
!/public/
!/resources/
