/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.gitattributes
_ide_helper.php
artisan
composer.lock
gulpfile.js
package.json
phpspec.yml
phpunit.xml
server.php
bootstrap
public
resources
storage
tests
vendor
!/resources/views/projects/
!/resources/views/tasks/
!/resources/views/app.blade.php
